<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xbcai.dao.QqMapper">
    <insert id="saveQq"  keyProperty="id">
        insert into t_qq(qq_mail,sex,qq_group,qq_group_name,create_time) values(#{qq},#{sex},#{qqGroup},#{qqGroupName},now())
    </insert>

    <select id="findAllQqs" resultType="com.xbcai.model.Qq">
        select *
        from t_qq where 1=1
        <if test="sex != null and sex != ''">
            and sex=#{sex}
        </if>
        <if test="qqGroup != null and qqGroup != ''">
            and qq_group=#{qqGroup}
        </if>
    </select>

    <update id="updateSendInfo">
        update t_qq set send_count = send_count+1,last_send_time = now() where id=#{id}
    </update>



</mapper>